body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

ul {
  margin: 0;
}

.l-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.l-container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l-container {
    width: 100%;
  }
  .l-container--footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .l-container {
    max-width: 1200px;
  }
}
.l-section {
  padding-block: 60px;
}

.l-section--slider {
  margin: 0 auto;
  background: #2f303a;
  background-image: url("../images/cover-m.jpg"); /* fallback */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/cover-m.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/cover-m.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.l-section--no-top-padding {
  display: none;
  opacity: 0;
}

.l-section--color {
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .l-section--slider {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/cover-m@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/cover-m@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .l-section {
    min-width: 768px;
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .l-section--slider {
    background-image: url("../images/cover-t.jpg"); /* fallback */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/cover-t.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/cover-t.jpg");
  }
  .l-section--color {
    padding-block: 60px;
  }
  .l-section--tablet-padding {
    padding-block: 60px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .l-section--slider {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/cover-t@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/cover-t@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .l-section {
    padding-block: 94px;
  }
  .l-section--slider {
    max-width: 1600px;
    margin: 0 auto;
    background-image: url("../images/cover-d.jpg"); /* fallback */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/cover-d.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/cover-d.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .l-section--slider {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/cover-d@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/cover-d@2x.jpg");
  }
}
.c-header {
  border-bottom: 1px solid;
  border-color: #ececec;
}

.c-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .c-header__body {
    padding-top: 21px;
    padding-right: 0;
    padding-bottom: 21px;
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .c-header__body {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.c-menu {
  display: none;
}

.c-nav {
  line-height: 0;
}

.c-nav__button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.c-nav__button:hover .c-nav__icon, .c-nav__button:focus .c-nav__icon {
  fill: #2196f3;
}

.c-nav__icon {
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .c-nav__button {
    display: none;
    opacity: 0;
  }
  .c-menu {
    list-style-type: none;
    padding: 0;
    display: block;
  }
  .c-nav {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .c-menu__item {
    position: relative;
    display: inline;
  }
  .c-menu__item:nth-child(-n+2) {
    margin-right: 46px;
  }
  .c-menu__link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .c-menu__link:hover, .c-menu__link:focus {
    color: #2196f3;
  }
  .c-menu__link--active {
    color: #2196f3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .c-menu__link--active::after {
    content: "";
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 4px;
    left: -2px;
    bottom: -35px;
    border-radius: 10px;
    background: #2196f3;
    -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .c-nav {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-left: 83px;
  }
  .c-menu__link--active::after {
    bottom: -32.5px;
  }
}
.c-contact-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .c-contact-list {
    list-style-type: none;
    padding: 0;
    display: block;
  }
  .c-contact-list__item:first-of-type {
    margin-bottom: 5px;
  }
  .c-contact-list__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    vertical-align: middle;
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .c-contact-list__link:hover, .c-contact-list__link:focus {
    color: #2196f3;
  }
  .c-contact-list__icon {
    width: 14px;
    height: 10px;
    fill: currentColor;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .c-contact-list__icon:hover, .c-contact-list__icon:focus {
    fill: #2196f3;
  }
  .c-contact-list__icon--custom-size {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .c-contact-list {
    display: inline;
  }
  .c-contact-list__item {
    display: inline;
  }
  .c-contact-list__item:first-child {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .c-contact-list__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .c-contact-list__icon {
    width: 16px;
    height: 12px;
  }
  .c-contact-list__icon--custom-size {
    width: 10px;
    height: 16px;
  }
}
.c-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  padding-left: 40px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-closed {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.c-menu-body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 10px;
  padding-right: 15px;
}

.c-menu-btn__button {
  line-height: 0;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-menu-btn__button:hover, .c-menu-btn__button:focus {
  fill: #2196f3;
}

.c-menu-nav {
  list-style-type: none;
  padding: 0;
  margin-bottom: auto;
}

.c-menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-menu-nav__link:hover, .c-menu-nav__link:focus {
  color: #2196f3;
}

.c-menu-contact {
  list-style-type: none;
  padding: 0;
}

.c-menu-contact__link {
  display: block;
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.c-menu-contact__link--secondary {
  color: #757575;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 65px;
}

.c-menu-social {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 48px;
  padding-right: 83px;
}

.c-menu-social__item {
  display: inline;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 9px;
}

.c-menu-social__item--unborder {
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}

.c-menu-social__link {
  margin: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 0.81;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.c-section-title {
  margin-block: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 30px;
}

.c-section-title--hidden {
  display: none;
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .c-section-title {
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;
  }
}
.c-button {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.c-slider__c-button {
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  width: 200px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-slider__c-button:hover, .c-slider__c-button:focus {
  color: #212121;
  background-color: #f5f4fa;
}

.signup-form__c-button {
  padding: 10px 76px 10px 46px;
  position: relative;
  margin-top: 20px;
}

.c-modal-form__c-button {
  padding: 10px 76px;
  display: block;
  margin: 0 auto;
}

.c-logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: auto;
}

.c-logo--black {
  color: #000;
  margin: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-logo:focus .c-logo--black, .c-logo:hover .c-logo--black {
  color: #2196f3;
}

.c-logo--brand {
  color: #2196f3;
  margin: 0;
}

.c-logo--footer {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 20px;
}

.c-logo--white {
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-logo:focus .c-logo--white, .c-logo:hover .c-logo--white {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .c-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.c-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.c-social-media__link {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-social-media__link:hover, .c-social-media__link:focus {
  background-color: #2196f3;
  fill: #fff;
  cursor: pointer;
}

.c-social-media__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
}

.c-footer-social-media__title {
  margin: 0 0 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .c-footer-social-media {
    padding-top: 65px;
  }
}
.c-slider {
  padding: 58px 0;
}

.c-slider__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  min-width: 290;
  max-width: 365px;
  margin: 0px auto 30px;
}

@media screen and (min-width: 1200px) {
  .c-slider {
    padding: 106px 0;
  }
  .c-slider__title {
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    max-width: 100%;
    width: 696px;
    margin: 0 auto 30px;
  }
}
.c-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style-type: none;
  padding: 0;
}

.c-offer__item {
  width: 100%;
}

.c-offer__body {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 0;
  margin-bottom: 30px;
}

.c-offer__icon {
  display: block;
  margin: 0 auto;
}

.c-offer__title {
  text-align: center;
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.c-offer__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .c-offer__item {
    width: 100%;
    width: calc((100% - 30px) / 2);
  }
  .c-offer__title {
    text-align: left;
  }
}
.c-use-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style-type: none;
  padding: 0;
}

.c-use-case__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.c-use-case__img {
  display: block;
}

.c-use-case__overlay {
  width: 370px;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 13.5px 0;
}

.c-use-case__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.c-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  list-style-type: none;
  padding: 0;
}

.c-team__card {
  width: 100%;
  padding-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.c-team__img {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.c-team__name {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.c-team__position {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .c-team__card {
    width: calc((100% - 30px) / 2);
  }
}
.c-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  width: 100%;
  margin: auto;
}

.c-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  width: calc((100% - 30px) / 2);
  min-width: 140px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-clients__link:hover, .c-clients__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.c-clients__icon {
  display: block;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .c-clients {
    width: 100%;
  }
  .c-clients__link {
    width: calc((100% - 60px) / 3);
  }
}
.c-footer--color {
  background: #2f303a;
}

.l-adress-stack {
  padding-top: 60px;
  padding-bottom: 60px;
}

.c-address__text {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.c-address__list {
  list-style-type: none;
  padding: 0;
}

.c-address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-address__link:hover, .c-address__link:focus {
  color: #2196f3;
}

.c-address__item {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .l-adress-stack {
    padding-bottom: 0;
  }
}
.l-form-stack {
  padding-block: 60px;
}

.c-signup-form__label {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.c-signup-form__input {
  display: block;
  margin: 0 auto;
  padding: 15px 0 15px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: #fff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.c-signup-form__icon {
  position: absolute;
  top: 13px;
  left: 148px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .l-form-stack {
    width: 100%;
  }
  .c-signup-form__input {
    min-width: 450px;
    width: 100%;
  }
}
.c-portfolio-filter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  list-style-type: none;
  padding: 0;
}

.c-portfolio-filter__button {
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-portfolio-filter__button:hover, .c-portfolio-filter__button:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.c-card {
  padding: 34px 0 0;
}

.c-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0;
}

.c-card__item {
  min-width: 370px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  background: #fff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-card__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.c-card__item:hover .c-card__overlay {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.c-card__img {
  display: block;
}

.c-card__body {
  position: relative;
  overflow: hidden;
}

.c-card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: #2196f3;
  opacity: 0.9;
  padding: 49px 45px 49px 24px;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.c-card__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
}

.c-card__footer {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #eee;
  width: 100%;
  padding: 20px 24px;
}

.c-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px;
}

.c-card__subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.l-backdrop {
  padding: 0 15px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.is-hidden {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.c-modal {
  position: relative;
  margin: auto;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.l-modal-stack {
  padding: 40px;
  max-width: 450px;
}

.c-modal-form__title {
  display: block;
  margin: 0;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.c-modal-form__icon {
  position: absolute;
  top: 28px;
  left: 14px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.c-modal-form__body {
  display: block;
  position: relative;
}
.c-modal-form__body:focus-within .c-modal-form__icon {
  fill: #2196f3;
}

.c-modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.c-modal-form__input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 40px;
  margin-bottom: 10px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-modal-form__input:focus {
  border: 1px solid #2196f3;
}

.c-modal-form__textarea {
  padding: 0;
  resize: none;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-modal-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.c-modal-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.c-modal-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.c-modal-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.c-modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.c-modal-form__textarea:focus {
  border: 1px solid #2196f3;
}

.c-custom-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.c-custom-checkbox__input {
  vertical-align: middle;
  width: 16px;
  height: 15px;
  opacity: 0;
}
.c-custom-checkbox__input:checked + .c-custom-checkbox__body {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}
.c-custom-checkbox__input:focus + .c-custom-checkbox__body {
  border-color: #2196f3;
  outline: 2px solid rgba(33, 150, 243, 0.25);
  outline-offset: 1px;
}

.c-custom-checkbox__body {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: border-color;
}

.c-custom-checkbox__icon {
  position: absolute;
  top: -1px;
  left: 0px;
  fill: #fff;
}

.c-custom-checkbox__text {
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  color: #757575;
}

.c-custom-checkbox__link {
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.c-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.c-close-btn__button {
  all: unset;
  top: 30px;
  cursor: pointer;
}
.c-close-btn__button:hover .c-close-btn__icon, .c-close-btn__button:focus .c-close-btn__icon {
  fill: #2196f3;
}

.c-close-btn__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */