.l-backdrop {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 0.2);
  transition: transform 250ms;
}
.is-hidden {
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
