.c-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0 0 0 / 0.1);
}
.c-close-btn__button {
  all: unset;
  top: 30px;
  cursor: pointer;
  &:hover .c-close-btn__icon,
  &:focus .c-close-btn__icon {
    fill: $brand-color;
  }
}
.c-close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
