.l-modal-stack {
  padding: 40px;
  width: 100%;
  height: 100%;
}
.c-modal-form__title {
  display: block;
  margin: 0;
  color: $primary-color;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.c-modal-form__icon {
  position: absolute;
  top: 28px;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-modal-form__body {
  display: block;
  position: relative;
  &:focus-within .c-modal-form__icon {
    fill: $brand-color;
  }
}
.c-modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $light-txt-color;
  margin-bottom: 4px;
}
.c-modal-form__input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 40px;
  margin-bottom: 10px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid $brand-color;
  }
}
.c-modal-form__textarea {
  padding: 0;
  resize: none;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border: 1px solid $brand-color;
  }
}
