.c-offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  @include nodot;
}
.c-offer__item {
  min-width: 270px;
  flex-basis: calc((100% - 90px) / 4);
}
.c-offer__body {
  background-color: $light-item-color;
  border-radius: 4px;
  padding: 25px 0;
  margin-bottom: 30px;
}
.c-offer__icon {
  display: block;
  margin: 0 auto;
}
.c-offer__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.c-offer__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $light-txt-color;
}
