.c-header {
  border-bottom: 1px solid;
  border-color: $header-line;
}
.c-header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
