.c-header {
  border-bottom: 1px solid;
  border-color: $header-line;
}
.c-header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width: $tablet) {
  .c-header__body {
    padding-top: 21px;
    padding-right: 0;
    padding-bottom: 21px;
    padding-left: 0;
  }
}
@media screen and (min-width: $desktop) {
  .c-header__body {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
