.c-section-title {
  margin-block: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
// Offer & card hidden title
.c-section-title--hidden {
  display: none;
  opacity: 0;
}
