.c-section-title {
  margin-block: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 30px;
}
// Offer & card hidden title
.c-section-title--hidden {
  display: none;
  opacity: 0;
}
@media screen and (min-width: $desktop) {
  .c-section-title {
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;
  }
}
// .c-section-title {
//   margin-block: 0;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   letter-spacing: 0.03em;
//   text-align: center;
//   padding-bottom: 50px;
// }
// // Offer & card hidden title
// .c-section-title--hidden {
//   display: none;
//   opacity: 0;
// }
