.l-section {
  padding-block: 60px;
}
.l-section--slider {
  margin: 0 auto;
  background: $dark-background;
  background-image: url("../images/cover-m.jpg"); /* fallback */
  background-image: linear-gradient(rgba(47 48 58 / 0.4), rgba(47 48 58 / 0.4)),
    url("../images/cover-m.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
// Use case section
.l-section--no-top-padding {
  display: none;
  opacity: 0;
}
// Team section bkg
.l-section--color {
  background-color: $light-item-color;
}
@media screen and (min-width: $mobile) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .l-section--slider {
    background-image: linear-gradient(rgba(47 48 58 / 0.4), rgba(47 48 58 / 0.4)),
      url("../images/cover-m@2x.jpg");
  }
}

@media screen and (min-width: $tablet) {
  .l-section {
    min-width: $tablet;
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .l-section--slider {
    background-image: url("../images/cover-t.jpg"); /* fallback */
    background-image: linear-gradient(rgba(47 48 58 / 0.4), rgba(47 48 58 / 0.4)),
      url("../images/cover-t.jpg");
  }
  .l-section--color {
    padding-block: 60px;
  }
  .l-section--tablet-padding {
    padding-block: 60px;
  }
}
@media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
  screen and (min-width: $tablet) and (min-resolution: 192dpi),
  screen and (min-width: $tablet) and (min-resolution: 2dppx) {
  .l-section--slider {
    background-image: linear-gradient(rgba(47 48 58 / 0.4), rgba(47 48 58 / 0.4)),
      url("../images/cover-t@2x.jpg");
  }
}

// .l-section {
//   padding-block: 94px;
// }
// .l-section--slider {
//   max-width: 1600px;
//   margin: 0 auto;
//   background: $dark-background;
//   background-image: url("../images/cover.jpg"); /* fallback */
//   background-image: linear-gradient(rgba(47 48 58 / 0.4), rgba(47 48 58 / 0.4)),
//     url("../images/cover.jpg");
//   background-repeat: no-repeat;
//   background-position-x: 50%;
//   background-size: 1600px; /* gradient cap */
// }
// // Team section bkg
// .l-section--color {
//   background-color: $light-item-color;
// }
// .l-section--no-top-padding {
//   padding-top: 0;
//   padding-bottom: 94px;
// }
