.l-form-stack {
  padding-block: 60px;
}
.c-signup-form__label {
  display: block;
  margin-bottom: 20px;
  color: $white-item;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.c-signup-form__input {
  display: block;
  margin: 0 auto;
  padding: 15px 0 15px 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: $white-item;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.c-signup-form__icon {
  position: absolute;
  top: 13px;
  left: 148px;
  fill: $white-item;
}
@media screen and (min-width: $tablet) {
  .l-form-stack {
    width: 100%;
  }
  .c-signup-form__input {
    min-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: $desktop) {
  .l-form-stack {
    width: auto;
    padding-top: 72px;
    padding-bottom: 100px;
  }
  .c-signup-form__input {
    display: inline;
    width: 358px;
    min-width: auto;
    margin-right: 12px;
  }
}

// .l-form-stack {
//   padding-block: 60px;
// }
// .c-signup-form__label {
//   display: block;
//   margin-bottom: 20px;
//   color: $white-item;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
// }
// .c-signup-form__input {
//   padding: 15px 0 15px 16px;
//   box-sizing: border-box;
//   width: 358px;
//   height: 50px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   background: none;
//   color: $white-item;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   margin-right: 12px;
// }
// .c-signup-form__icon {
//   position: absolute;
//   top: 13px;
//   left: 148px;
//   fill: $white-item;
// }
