.c-slider {
  padding: 58px 0;
}
.c-slider__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  color: $white-item;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 365px;
  margin: 0px auto 30px;
}
// .c-slider {
//   padding: 106px 0;
// }
// .c-slider__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-transform: uppercase;
//   color: $white-item;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   width: 696px;
//   margin: 0 auto 30px;
// }
