// Team section
.c-social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.c-social-media__link {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $icon-logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $brand-color;
    fill: $white-item;
    cursor: pointer;
  }
}
// Footer section
.c-social-media__link--dark {
  background-color: $footer-socialmedia-elipse;
  fill: $white-item;
}
.c-footer-social-media {
  padding-top: 72px;
  padding-bottom: 100px;
}
.c-footer-social-media__title {
  margin: 0 0 20px;
  color: $white-item;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
