.l-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.l-container--footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: $tablet) {
  .l-container {
    width: $tablet;
  }
}
@media screen and (min-width: $desktop) {
  .l-container {
    width: $desktop;
  }
}
// .l-container {
//   box-sizing: border-box;
//   max-width: 1200px;
//   width: 100%;
//   padding: 0 15px;
//   margin: 0 auto;
// }
// .l-container--footer {
//   display: flex;
//   justify-content: space-between;
// }
