$brand-color: #2196f3;
$primary-color: #212121;
$light-txt-color: #757575;
$dark-background: #2f303a;
$light-item-color: #f5f4fa;
$light-line: #eee;
$header-line: #ececec;
$white-item: #fff;
$black-item: #000;
$icon-logo-color: #afb1b8;
$footer-socialmedia-elipse: rgba(255 255 255 / 0.1);
$font-family: "Roboto", sans-serif;